container {
    margin: auto;
    width: 50%;
    text-align: center;
}

#start {
    margin-left: 47%;
    margin-right: 50%;
    font-size: 25px;
    background-color: lightgreen;
}

#questions {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

#ans1 {
    position: relative;
    left: 25%; 
    font-size: 1em;
    word-break: break-all;
    margin: auto;
    width: 50%;
    text-align: left;
    background-color: lightblue;
    border: solid;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 1%;
    padding-bottom: 1%; 
}

#ans2 {
    position: relative;
    left: 25%; 
    font-size: 1em;
    word-break: break-word;
    margin: auto;
    width: 50%;
    text-align: left;
    background-color: lightblue;
    border: solid;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#ans3 {
    position: relative;
    left: 25%;
    font-size: 1em;
    word-break: break-all;
    margin: auto;
    width: 50%;
    text-align: left;
    background-color: lightblue;
    border: solid;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

#wrong-right {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

#timer {
    position: absolute;
    top: 3px;
    left: 80%;
}

#ScoreContainer {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1em;
}

#user {
    padding-left: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid, black;
    width: 50%;
    font-size: 1em;
}

